* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
/* --- SHARED TEXT STYLES --- */
body {
  max-width: 1600px;
  margin: 0 auto;
}

header {
  background-color: rgba(26, 11, 46, 1);
}
.flex {
  display: flex;
}
.items-center {
  align-items: center;
}

.host-card,
.about,
.advantage-container {
  max-width: 1200px;
  margin: 0 auto;
  width: 100%;
}
.about-info h2,
.advantages h3,
.featured h3,
.host h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}
.footer p,
.video-content p,
.host-content p,
.advantage-cards p,
.about-info p,
.banner-text p {
  color: rgba(255, 255, 255, 0.6);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.6;
  margin-top: 16px;
}

.host-card,
.advantage-cards {
  background-color: rgba(53, 17, 101, 0.4);
  border-radius: 40px;
}

/* --- Main styles --- */
.navbar {
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-logo {
  color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
  font-weight: 700;

  padding: 30px 0 30px 200px;
}
.logo-radient {
  background: linear-gradient(
    10deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 45%,
    rgba(145, 0, 248, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links {
  gap: 2rem;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
.nav-btn {
  margin-right: 200px;
}
.nav-btn button {
  gap: 4px;
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  border: none;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 20px;
  color: rgba(255, 255, 255, 1);
  padding: 12px 16px;
  cursor: pointer;
  transition:
    transform 0.6s,
    background-position 0.5s ease;
}
.nav-btn button:hover {
  transform: rotateY(360deg) rotateX(10deg) scale(1.1);
  box-shadow: 0px 4px 15px rgba(145, 0, 248, 1);
}
.footer {
  background-color: rgba(35, 14, 61, 1);
  text-align: center;
  padding: 20px 0;
  background-image: url(Images/footer-bg.png);

  background-position: center;
  padding: 60px;
}
.footer h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 5rem;
  font-weight: 700;
  margin-top: 90px;
}
.footer p {
  margin-top: 32px;
  margin-bottom: 120px;
}

.footer-logos {
  justify-content: center;

  gap: 40px;
  padding-top: 22px;
}
.logo {
  gap: 8px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  opacity: 0.6;
  font-size: 1rem;
  font-weight: 400;
}
.featured {
  background-color: rgba(26, 11, 46, 1);
  padding-bottom: 120px;
}

.video-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0 200px;
}
.video-card {
  background-color: rgba(37, 13, 68, 1);
  width: 100%;
  max-width: 380px;

  margin: 0 auto;
  border-radius: 27px;
}
.video-wrapper {
  position: relative;
  width: 100%;
}
.video-wrapper iframe {
  width: 100%;
  height: 214px;
  border-radius: 27px;
}
.video-wrapper img {
  position: absolute;
  top: 40%;
  left: 45%;
  pointer-events: none;

  width: 60px;
  height: 60px;
}
.video-content h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 24px;
}
.video-content p {
  text-align: justify;
  padding: 12px 24px;
}
.duration {
  gap: 6px;
  color: rgba(0, 255, 136, 1);
  padding: 24px;
  padding-top: 12px;
}

.host-card {
  width: 100%;

  margin: 0 auto;

  gap: 24px;
}
.host-image {
  width: 200px;
  height: 200px;
  padding: 40px;
}
.host-content h4 {
  color: rgba(255, 255, 255, 1);
  font-size: 2rem;
  font-weight: 700;
  padding-top: 48.5px;
}

.social {
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 48px;
}
.social a {
  text-decoration: none;

  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50%;
}
.social img {
  text-decoration: none;

  width: 30px;
  height: 30px;
  padding: 8px;
}
.advantages {
  background-color: rgba(35, 14, 61, 1);
  padding-bottom: 120px;
}

.advantage-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}
.tall-card {
  grid-row: span 2;
}
.tall-card img {
  padding-top: 80px;
}
.wide-card {
  grid-column: span 2;
}
.advantage-cards {
  padding: 40px;
}
.advantage-cards h4 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  font-weight: 700;
  padding-top: 16px;
}

.about {
  max-width: 1200px;
  margin: 0 auto;
}
.about-info h2 {
  padding-top: 50px;
  padding-bottom: 16px;
}
.about-info p {
  opacity: 0.8;

  text-align: center;
}
.about-border {
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
  padding-top: 80px;
  padding-bottom: 80px;
}

.ratings-container {
  justify-content: space-between;
  padding-top: 80px;
  padding-bottom: 120px;
}
.ratings h4 {
  color: rgba(0, 255, 136, 1);
  font-weight: 900;
  font-size: 3rem;
}
.ratings p {
  opacity: 0.8;
}
.banner {
  background-image: url(Images/hero-bg.png);
  background-size: cover;
  background-position: center;
  padding-top: 100px;
  
  text-align: center;
  justify-content: center;
  padding-bottom: 100px;
}
.banner-content {
  flex-direction: column;
}
.banner-logo {
max-width: 350px;
width: 100%;
aspect-ratio: 1/1;
  background-image: url(Images/hero-circle.png);
  background-repeat: no-repeat;
  justify-content: center;
  position: relative;
}

.new-badge {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: rgba(0, 255, 136, 1);
  color: #000;
  font-size: 1.125rem;
  padding: 8px 16px;
  border-radius: 25px;
  font-weight: 600;
}

.banner-text h1 {
  color: rgba(255, 255, 255, 1);
  font-weight: 800;
  font-size: 3.75rem;
  text-align: center;
  padding-top: 40px;
}
.banner-text p {
  opacity: 0.8;

  text-align: center;
  padding-top: 8px;
}

.banner-buttons {
  gap: 8px;
  padding-top: 24px;
}

.btn {
  gap: 8px;
  border-radius: 25px;
  padding: 12px 20px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 600;
  background: linear-gradient(
    10deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
}
.btn-2 {
  gap: 8px;
  color: rgba(0, 255, 136, 1);
  border: 2px solid rgba(0, 255, 136, 1);
  border-radius: 25px;
  padding: 12px 20px;
  color: rgba(0, 255, 136, 1);
  font-size: 1rem;
  font-weight: 600;
  text-decoration: none;
}
.btn:hover {
  box-shadow: 0px 4px 15px rgba(145, 0, 248, 1);
}
.btn-2:hover {
  box-shadow: 0px 4px 15px rgba(0, 255, 136, 1);
}
 /* --- Responsive Styles --- */
