* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
.font-inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
header {
  background-color: rgba(65, 37, 103, 1);
}
.flex {
  display: flex;
}
header,
.footer,
.featured {
  max-width: 1600px;
  margin: 0 auto;
}
.navbar {
  justify-content: space-between;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.nav-logo {
  color: rgba(255, 255, 255, 1);
  font-size: 2.5rem;
  font-weight: 700;

  padding: 30px 0 30px 200px;
}
.logo-radient {
  background: linear-gradient(
    10deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 45%,
    rgba(145, 0, 248, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.nav-links {
  align-items: center;
  gap: 2rem;
}
.nav-links li {
  list-style: none;
}
.nav-links a {
  color: rgba(255, 255, 255, 1);
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
}
.nav-btn {
  align-items: center;
  margin-right: 200px;
}
.nav-btn button {
  align-items: center;
  gap: 4px;
  background: linear-gradient(
    45deg,
    rgba(247, 233, 63, 1) 0%,
    rgba(251, 9, 180, 1) 51%,
    rgba(145, 0, 248, 1) 100%
  );
  border: none;
  font-weight: 600;
  font-size: 1rem;
  border-radius: 20px;
  color: rgba(255, 255, 255, 1);
  padding: 12px 16px;
  cursor: pointer;
  transition:
    transform 0.6s,
    background-position 0.5s ease;
}
.nav-btn button:hover {
  transform: rotateY(360deg) rotateX(10deg) scale(1.1);
  box-shadow: 0px 4px 15px rgba(145, 0, 248, 1);
}
.footer {
  background-color: rgba(35, 14, 61, 1);
  text-align: center;
  padding: 20px 0;
  background-image: url(Images/footer-bg.png);

  background-position: center;
  padding: 60px;
}
.footer h2 {
  color: rgba(255, 255, 255, 1);
  font-size: 5rem;
  font-weight: 700;
  margin-top: 90px;
}
.footer p {
  color: rgba(250, 250, 250, 1);
  opacity: 0.6;
  font-size: 1rem;
  font-weight: 300;
  margin-top: 32px;
  margin-bottom: 120px;
  line-height: 1.5rem;
}

.footer-logos {
  justify-content: center;
  align-items: center;
  gap: 40px;
  padding-top: 22px;
}
.logo {
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  opacity: 0.6;
  font-size: 1rem;
  font-weight: 400;
}
.featured {
  background-color: rgba(26, 11, 46, 1);
  padding-bottom: 120px;
}
.featured h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}
.video-card-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  padding: 0 200px;
}
.video-card {
  background-color: rgba(37, 13, 68, 1);
  width: 100%;
  max-width: 380px;

  margin: 0 auto;
  border-radius: 27px;
}
.video-wrapper {
  position: relative;
  width: 100%;
}
.video-wrapper iframe {
  width: 100%;
  height: 214px;
  border-radius: 27px;
}
.video-wrapper img {
  position: absolute;
  top: 40%;
  left: 45%;

  width: 60px;
  height: 60px;
}
.video-content h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 1.5rem;
  font-weight: 700;
  padding: 24px;
}
.video-content p {
  color: rgba(255, 255, 255, 1);
  opacity: 0.6;
  font-size: 1rem;
  font-weight: 300;
  text-align: justify;
  padding: 12px 24px;
  line-height: 1.5rem;
}
.duration {
  align-items: center;
  gap: 6px;
  color: rgba(0, 255, 136, 1);
  padding: 24px;
  padding-top: 12px;
}

.host h3 {
  color: rgba(255, 255, 255, 1);
  font-size: 3rem;
  font-weight: 700;
  text-align: center;
  padding-top: 120px;
  padding-bottom: 40px;
}
.host-card {
  background-color: rgba(53, 17, 101, 0.4);
  width: 100%;
  max-width: 1200px;

  margin: 0 auto;
  border-radius: 40px;
  align-items: center;
  gap: 24px;
}
.host-image {
  width: 200px;
  height: 200px;
  padding: 40px;
}
.host-content h4 {
  color: rgba(255, 255, 255, 1);
  font-size: 2rem;
  font-weight: 700;
  padding-top: 48.5px;
}
.host-content p {
  color: rgba(255, 255, 255, 1);
  opacity: 0.6;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.5rem;
  padding-top: 16px;
}
.social {
  align-items: center;
  gap: 8px;
  padding-top: 16px;
  padding-bottom: 48px;
}
.social a {
  text-decoration: none;

  border: 1px solid rgba(83, 60, 114, 1);
  border-radius: 50%;
}
.social img {
  text-decoration: none;

  width: 30px;
  height: 30px;
  padding: 8px;
}
